.game {
	margin-top: 40px;
}

.container {
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}

.reset {
	margin: 40px auto;
	padding: 5px;
	display: block;
	height: 60px;
	width: 250px;
	background: rgb(88, 82, 215);
	border: 2px solid #ff5e5e;
	border-radius: 10px;
	box-shadow: 2px 2px 5px;

	color: #ff5e5e;
	font-size: 30px;
	cursor: pointer;
	transition: 0.5s;
}

.reset:hover {
	background-color: #ff6465;
	color: whitesmoke;
	box-shadow: 0 45px 65px rgba(0, 0, 0, 0.50), 0 35px 22px rgba(0, 0, 0, 0.16);
}
